# unity3d generated
Temp
Library
Build
UIElementsSchema
obj
*.sln
.vs
*.csproj
*.userprefs
*.unityproj
*.DS_Store

*.log
*.swp
*.pyc

/*.dll
Build.zip
config.json

Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta
.idea
*.DotSettings
*.DotSettings.user

/Assets/BinDeps/
/Assets/BinDeps.meta
