StrategyServer/.idea
StrategyServer/__pycache__
.gitignore.swp

Temp
Library
Build
UIElementsSchema
obj

*.sln
.vs
*.csproj
*.userprefs
*.unityproj
*.DS_Store

*.log
/StrategyServer/dll1.dll
/StrategyServer/Strategy.dll
/StrategyServer/NWPUc.dll
/StrategyServer/dll456_x64.dll
/StrategyServer/dll2.dll
/StrategyServer/dll123_x64.dll
/dlltest.dll
*.swp
*.pyc
/StrategyServer/build.bat
/StrategyServer/src/test.py
