# unity3d generated
Temp
Library
Build
UIElementsSchema
obj
*.sln
.vs
*.csproj
*.userprefs
*.unityproj
*.DS_Store

*.log
*.swp
*.pyc

/*.dll
Build.zip
config.json

/Assets/BinDeps/
